<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>   
    <rewrite>
        <rules>
            <rule name="download" stopProcessing="false">
          <match url="download(.*)" />
          <action type="Rewrite" url="https://metube.apps.lilleycloud.com/{R:1}" appendQueryString="true" logRewrittenUrl="false" />
        </rule>
        </rules>
    </rewrite>
  </system.webServer>
</configuration>
